footer
      .container
        .row
          .col-md-4
            h5 Gifts QR
            p Tạo quà tặng trực tuyến mang dấu ấn tình yêu.
          .col-md-4
            h5 See Also
            ul.list-unstyled
              li: a(href="#") Blog
              li: a(href="#") Valentine's Surprise
          .col-md-4
            h5 Support
            ul.list-unstyled
              li: a(href="#") Contact Us
              li: a(href="#") Send Email